.HomeContainer {
    direction: rtl;
}

.title {
    margin-top: 10px;
    font-family:'Courier New', monospace;
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    padding: 20px;
}

.filtersContainer {
    width: 20%;
    /* border: 1px solid black; */
    margin-left: 50px;
    height: 50vh;
    padding: 20px;
    background-color: white;
}

.itemsContainer {
    /* border: 1px solid black; */
    overflow-y: auto;
    width: 70%;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
    justify-items: center;
    background-color: white;
}

.genderFilter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}
